<div class="row mt-5 mb-5"><br></div>
<div class="row mt-5 justify-content-center">
    <div class="col-5">
            <h4 class="text-center text-secondary mb-5">SELAMAT DATANG</h4>
            <div class="d-grid text-center mb-4">
                <a href="/admin/meja" class="btn btn-secondary">Meja</a>
            </div>
            <div class="d-grid text-center mb-4">
                <a href="/admin/menu" class="btn btn-secondary">Menu</a>
            </div>
            <div class="d-grid text-center mb-4">
                <a href="/admin/pesanan" class="btn btn-secondary">Pesanan</a>
            </div>
            <div class="d-grid text-center mb-4">
                <a href="/admin/logout" class="btn btn-secondary" onclick="return confirm('Are You Sure?')">Logout</a>
                <!-- <form method="GET" action="/admin/logout">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are You Sure?')">Logout</button>
                </form> -->
            </div>
    </div>
</div>