<div class="row mt-5 mb-5"><br></div>
<div class="row justify-content-center mt-5">
    <div class="col-4">
        <a href="/admin/login">
            <div class="card" style="width: 18rem;">
                <img src="https://iconsgalore.com/wp-content/uploads/2018/10/house-1-featured-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-secondary text-center"><u>ADMIN</u></h5>
                </div>
                </div>
        </a>
    </div>
    <div class="col-4">
        <a href="/pembeli/login">
            <div class="card" style="width: 18rem;">
                <img src="https://iconsgalore.com/wp-content/uploads/2018/10/house-1-featured-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-secondary text-center"><u>PEMBELI</u></h5>
                </div>
                </div>
        </a>
    </div>
</div>