<div class="row mt-5 mb-5"><br><br><br><br></div>
<div class="row mt-5 justify-content-center">
    <div class="col-7">
      <h3 class="text-secondary">Untuk melanjutkan pemesanan, harap lakukan pembayaran pada nomor rekening berikut :</h3>
        <br>
      <h1 style="text-decoration: underline;">01234567890</h1>
    </div>
</div>
<div class="row mt-5 justify-content-center">
    <div class="col-5 text-end">
        <a href="/pembeli/selesai" class="btn btn-success">Selesai</a>
    </div>
</div>