<div class="col text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/OOjs_UI_icon_check-constructive.svg/2048px-OOjs_UI_icon_check-constructive.svg.png" alt="" style="height: 45%; width: 45%;">
    <h1 class="text-secondary">Hidangan anda segera disajikan!</h1>
    <form method="GET" action="/pembeli/logout">
        <button type="submit" class="btn btn-primary mt-3" onclick="return confirm('Are You Sure?')">Kembali</button>
    </form>
</div>