<div class="row mt-5 mb-5"><br></div>
<div class="row mt-5 justify-content-center">
    <div class="col-5">
        <form method="POST" action="/admin/meja">
            <h4 class="text-center text-secondary">TAMBAH MEJA</h4>
            <div class="mb-3">
                <input type="number" class="form-control" placeholder="No. Meja" id="no_meja" name="no_meja" required>
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" placeholder="Kapasitas" id="Kapasitas" name="kapasitas" required>
            </div>
            <div class="d-grid text-center">
                <button type="submit" class="btn btn-secondary">Tambah</button>
            </div>
        </form>
    </div>
</div>